In [1]:
import pandas as pd

In [2]:
# Read the JSON file into a dataframe
df_games_meta_data = pd.read_json('data/games_metadata.json', lines=True)
df_games_data = pd.read_csv("data/games.csv")
df_redommendations = pd.read_csv("data/recommendations.csv")
df_users = pd.read_csv("data/users.csv")

In [3]:
df_merged_games_data = df_games_data.merge(df_games_meta_data)
df_merged_users = df_users.merge(df_redommendations, how="left")

In [4]:
df_merged_games_data.head(3)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,description,tags
0,10090,Call of Duty: World at War,2008-11-18,True,False,False,Very Positive,92,37039,19.99,19.99,0.0,True,"Call of Duty is back, redefining war like you'...","[Zombies, World War II, FPS, Multiplayer, Acti..."
1,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True,Enter the dark underworld of Prince of Persia ...,"[Action, Adventure, Parkour, Third Person, Gre..."
2,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True,,[Action]

In [5]:
df_merged_users.head(3)

,user_id,products,reviews,app_id,helpful,funny,date,is_recommended,hours,review_id
0,5693478,156,1,730.0,0.0,0.0,2020-09-13,True,515.9,389270.0
1,3595958,329,3,1259420.0,5.0,0.0,2021-05-18,True,78.9,3220984.0
2,3595958,329,3,271590.0,0.0,0.0,2022-04-11,True,397.3,3273691.0